.center_div {
    margin: auto;
    width: 50%;
    border: 0px solid;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 25vh 25vh;
    grid-template-rows: auto;
}

.button_blue {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


img {
    width: 20vh ;
}